# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app
/3D displaying test/.vs/3D displaying test/v17
3D displaying test/.vs/3D displaying test/FileContentIndex/read.lock
3D displaying test/.vs/3D displaying test/FileContentIndex/bb781862-f27c-41fd-8bb5-9902147630b4.vsidx
/3D displaying test/.vs
/3D displaying test/bin/intermediates/x64
/3D displaying test/bin/x64
3D displaying test/3D displaying test/imgui.ini
*.ini
3D displaying test/3D displaying test/imgui.ini
